<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
            </handlers>
            <aspNetCore processPath=".\Dwapi.Adhoc.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
            <!-- <rewrite> -->
            <!--     <rules> -->
            <!--         <clear /> -->
            <!--         <rule name="Rewrite to VirtualName"> -->
            <!--             <match url="(ActiveQueryBuilder/Handler/.*)" /> -->
            <!--             <action type="Rewrite" url="VirtualDirectoryName/{R:0}" /> -->
            <!--         </rule> -->
            <!--     </rules> -->
            <!-- </rewrite> -->
        </system.webServer>
    </location>
</configuration>
